<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>

<h1>Contacts</h1>


<a href="{% url 'contact-create' %}">Add Contact</a>
<ul>
{% for contact in object_list %}
    <li>{{ contact.name }} - {{ contact.email }}
        <a href="{{ contact.get_absolute_url }}">View</a> |
        <a href="{% url 'contact-edit' contact.id %}">Edit</a> |
        <a href="{% url 'contact-delete' contact.id %}">Delete</a></li>
{% empty %}
    <li>No contacts yet.</li>
{% endfor %}

<hr>

{% if is_paginated %}
  <div class="pagination">
      <span class="page-links">
          {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
{% endif %}

</ul>


</body>
</html>